.footer-container{
    padding: 0 20px;
    // position:absolute;
    // width: 100%;
    // bottom: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    .col-logo{
        // line-height: 10;
        .logo{
            display: inline-block;
            background-color: black;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            padding: 5px 40px;
        }
        .text-footer{
            font-size: 14px;
            margin: 20px 0;
        }
        .button-footer{
            font-size: 18px;
            background-color: #f3f3f3;
            padding: 5px 20px;
        }
    }

    .contact-container{
        .contact-title{
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            cursor: pointer;
            &:hover{
                text-decoration:underline;
            }
            .logo-media{
                width: 80%;
               display: flex;
               justify-content: space-between;
              
            }
        }
        
    }

    .col{
        // background-color: aqua;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .footer-container{
        .col-logo{
            max-width: 30%;
        }
    }
   
}

@media only screen and (max-width: 480px) {
    .footer-container .row{
        flex-direction: column;

        .col-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .logo {
                margin: 0 25%;
            }

            .button-footer {
                background-color: black;
                color: white;
                font-size: 12px;
                padding: 10px 20px;
            }

            .text-footer{
                margin: 10px 0;
                font-size: 12px;
            }
        }

        .col-info{
            margin-top: 20px;
            .col-store{
                display: none;
            }

            .col-support{
                display: none;
            }

            .col-extend{
                display: none;
            }
        }
    }

    .footer-container .contact-container .contact-title .logo-media {
        width: 60%;
    }

    .footer-container .contact-container{
        text-align: center;
    }

    .footer-container .contact-title{
        display: flex;
        justify-content: center;
    }
    
}